CREATE DATABASE QUANLY_NHANVIEN
GO

USE QUANLY_NHANVIEN
GO

CREATE TABLE PHONG
(
	MaPhong char(3),
	TenPhong nvarchar(40),
	DiaChi nvarchar(50),
	Tel char(10),
	PRIMARY KEY (MaPhong)
)
GO

CREATE TABLE DANHMUC_NN
(
	MaNN char(2),
	TenNN nvarchar(20),
	PRIMARY KEY (MaNN)
)
GO

CREATE TABLE NHANVIEN
(
	MaNV char(5),
	Ho nvarchar(20),
	TenLot nvarchar(20),
	Ten nvarchar(20),
	GioiTinh nvarchar(3),
	NgaySinh datetime,
	HeSoLuong Dec(4,3),
	MaPhong char (3),
	Tel char(10),
	NgayBC datetime,
	PRIMARY KEY (MaNV),
	FOREIGN KEY (MaPhong)REFERENCES PHONG(MaPhong)
)
GO

CREATE TABLE TRINHDO_NN
(
	MaNV char(5),
	MaNN char(2),
	TrDo char(2),
	PRIMARY KEY (MaNV, MaNN, TrDo)
)
GO


--Them du lieu bang PHONG
INSERT INTO PHONG VALUES('HCA', N'HC Tổng hợp', N'123,Phường 5, TP Trà Vinh, Trà Vinh','0743585793') 
INSERT INTO PHONG VALUES('KDA', N'Kinh Doanh', N'123,Phường 5, TP Trà Vinh, Trà Vinh','0743585794') 
INSERT INTO PHONG VALUES('KTA', N'Kỹ Thuật', N'123,Phường 5, TP Trà Vinh, Trà Vinh','0743585795') 


--Them du lieu bang DANHMUC_NN
INSERT INTO DANHMUC_NN VALUES('01', N'Anh')
INSERT INTO DANHMUC_NN VALUES('02', N'Nga')
INSERT INTO DANHMUC_NN VALUES('03', N'Pháp')


--Them du lieu bang NHANVIEN
insert into NHANVIEN values('HC001', N'Nguyễn', N'Thị' , N'Hà', N'Nữ', '1950-02-27', 4.50, 'HCA', '', '1975-08-02')
insert into NHANVIEN values('HC002', N'Trần', N'Văn' , N'Nam', N'Nam', '1975-12-06', 3.00, 'HCA', '', '1977-08-06')
insert into NHANVIEN values('HC003', N'Nguyễn', N'Thanh' , N'Huyền', N'Nữ', '1978-03-07', 3.50, 'HCA', '', '1999-02-09')

--Them du lieu bang TRINHDO_NN
insert into TRINHDO_NN values('HC001','01','A');
insert into TRINHDO_NN values('HC001', '02' ,'B');
insert into TRINHDO_NN values('HC002','01','C');


--kiem tra du lieu
select * from PHONG
select * from DANHMUC_NN
select * from NHANVIEN
select * from TRINHDO_NN         


--tao view

	--/Đưa ra thông tin của nhân viên có mã số KT001--\
	CREATE VIEW ThongTinNV_KT001_View as
	select *
	from NHANVIEN as nv
	where nv.MaNV = 'KT001'
	
	--/Đưa ra danh sách các nhân viên nữ--\
	create view DSNV_Nu_View as
	select *
	from NHANVIEN as nv
	where nv.GioiTinh = N'Nữ'
	
	--/Tìm những nhân viên có họ Nguyễn--\
	create view DSNV_HoNguyen_View as
	select *
	from NHANVIEN as nv
	where nv.Ho = N'Nguyễn'
	
	--/Đưa ra danh sách nhân viên có tên chứa từ 'Văn'--\
	create view DSNV_CoTuVan_View as
	select *
	from NHANVIEN as nv
	where nv.Ho = N'Văn'
		or nv.TenLot = N'Văn'
		or nv.Ten = N'Văn'
		
	--/Đưa ra những nhân viên có tuổi dưới 30 (Đưa ra cả thông tin tuổi trong kết quả)--\
	create view DSNV_TuoiDuoi30_View as
	select *, (YEAR(GETDATE()) - YEAR(nv.NgaySinh)) as 'Tuoi'
	from NHANVIEN as nv
	where YEAR(GETDATE()) - YEAR(nv.NgaySinh) < 30	
	
	--/Đưa ra danh sách các nhân viên có tuổi nằm trong khoảng 25 đến 30--\
	create view DSNV_TrongKhoang25Den30__View as
	select *, (YEAR(GETDATE()) - YEAR(nv.NgaySinh)) as 'Tuoi'
	from NHANVIEN as nv
	where YEAR(GETDATE()) - YEAR(nv.NgaySinh) >= 25
		and	YEAR(GETDATE()) - YEAR(nv.NgaySinh) <=30
	
	--/Đưa ra các mã nhân viên đã học các ngoại ngữ 01 ở trình dộ C trở lên--\
	create view DSNV_NN01TD_C_TroLen__View as
	select MaNV
	from TRINHDO_NN as td
	where td.MaNN = '01'
	and
	 (
		td.TrDo = 'B1' or
		td.TrDo = 'B2' or
		td.TrDo = 'C' or
		td.TrDo = 'D' or
		td.TrDo = 'E'
	 )
	
	--/Đưa ra danh sách các nhân viên vào biên chế trước năm 2000--\
	create view DSNV_BIENCHETRUOC2000_View as
	select *
	from NHANVIEN as nv
	where YEAR(nv.NgayBC) < 2000
	
	--/Đưa ra danh sách các nhân viên vào biên chế hơn 10 năm--\
	create view DSNV_BIENCHETRUOC10Nam_View as
	select *
	from NHANVIEN as nv
	where YEAR(GETDATE()) - YEAR(nv.NgayBC) > 10
	
	
--Xem view
select * from ThongTinNV_KT001_View
select * from DSNV_Nu_View
select * from DSNV_HoNguyen_View
select * from DSNV_CoTuVan_View
select * from DSNV_TuoiDuoi30_View
select * from DSNV_TrongKhoang25Den30__View
select * from DSNV_NN01TD_C_TroLen__View
select * from DSNV_BIENCHETRUOC10Nam_View


	
--Các thủ tục
	--/Đưa ra danh sách các nhân viên năm nay đủ tuổi nghỉ hưu (Nam >=60 tuổi, Nu >=55 tuổi)--/
	CREATE PROCEDURE duTuoi
	as
	begin
		select *, (YEAR(GETDATE()) - YEAR(nv.NgaySinh)) as 'Tuoi'
		from NHANVIEN as nv
		where 
			(
				    nv.GioiTinh = N'Nam'
				and YEAR(GETDATE()) - YEAR(nv.NgaySinh) >= 60
			)
			or
			(
				    nv.GioiTinh = N'Nữ'
				and YEAR(GETDATE()) - YEAR(nv.NgaySinh) >= 55
			)
	end
	go
	
	--/Đưa ra danh sách các nhân viên năm nay đủ tuổi nghỉ hưu (Nam >=60 tuổi, Nu >=55 tuổi)--/
	CREATE PROCEDURE soNguoiNghiHuu
	as
	begin
		select nv.GioiTinh, COUNT(*) as 'Số lượng'
		from NHANVIEN as nv
		where 
			(
				    nv.GioiTinh = N'Nam'
				and YEAR(GETDATE()) - YEAR(nv.NgaySinh) >= 60
			)
			or
			(
				    nv.GioiTinh = N'Nữ'
				and YEAR(GETDATE()) - YEAR(nv.NgaySinh) >= 55
			)
		group by nv.GioiTinh
	end
	go
	
	--/Cho biết thông tin (Mã phòng, tên phòng, điện thoại liên hệ) về các phòng ban--/
	CREATE PROCEDURE thongTinPhongBan
	as
	begin
		select pb.MaPhong, pb.TenPhong, pb.Tel
		from PHONG as pb
	end
	go

	--/đưa ra thông tin(họ tên, ngày sinh, ngày vào biên chế) về 2 nhân viên đầu tiên trong NV--/
	CREATE PROCEDURE thongTineNVdauTien
	as
	begin
		select top(2) *
		from NHANVIEN
	end
	go
	
--Chạy thủ tục
exec duTuoi
exec soNguoiNghiHuu
exec thongTinPhongBan
